<launch>
    <!-- Use groups if you want to launch several nodes for multiple devices. -->
    <!-- <group ns="sensor_1"> -->
    <node name="ipe_node" pkg="ipe" type="ipe_node" output="screen">
        <rosparam command="load" file="$(find ipe)/param/ipe_node.yaml" />
    </node>
    <!-- </group> -->
</launch>
