<launch>
    <arg name="my_bool_param" default="true"/>

    <!-- Use groups if you want to launch several nodes for multiple devices. -->
    <!-- <group ns="sensor_1"> -->
    <node name="ipe_node" pkg="ipe" type="ipe_node" output="screen">
        <rosparam command="load" file="$(find ipe)/param/ipe_node.yaml" />
        <param name="my_bool_param" value="$(arg my_bool_param)"/>
    </node>
    <!-- </group> -->
</launch>
