#!/usr/bin/env python3.8
PACKAGE = "localizer_zed_f9r"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


gen.add("serial_port",             str_t,    0, "A string parameter",  "")
gen.add("open_port",               bool_t,   0, "Open serial port" ,   False)
gen.add("close_port",              bool_t,   0, "Close serial port",   False)
gen.add("zed_f9r_network_info",    str_t,    0, "A string parameter",  "")
gen.add("quit_zed_f9r_api",        bool_t,   0, "Quit ZED-F9R API",    False)
gen.add("exit",                    bool_t,   0, "Exit ROS",            False)



exit(gen.generate(PACKAGE, "localizer_zed_f9r", "ZED-F9R_Tune_Serial"))